/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */
*{
  box-sizing: border-box;
    /* font-family: 'Roboto Condensed', sans-serif */
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (min-width: 600px){
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 125vh;
  background-image: url('./image.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  top: 0; 
  left: 0; 
}
}

.year{
  color: #ff6603;
  font-size: 25px;
}
.box {
  background-color: rgb(46, 44, 44);
  height: 700px;
   width: 750px;
   margin-left: 50px;
  margin-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 70px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}


.profile {
  margin-left: -82px;
  margin-top: 120px;
  font-size: 20px;
  line-height: 1;
  color: white;

}
.profile h1{
  width: 18px;
  font-weight: 1000px;
  letter-spacing: 10px;
  font-size: 50px!important;
}
.profile p{
  margin-top: -20px;
}

.hypen{
  color: #ff6603;
  font-size: 55px;
}
.hypen_2{
  color: #ff6603;
  font-size: 65px;
}

.bio {
  margin-top: 30px;
  padding: 20px;
  color: white; 
  line-height: 2.5rem;
  font-size: 15px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
  margin-top: 30px;
  margin-left: 350px;
  width: 20%;
}

.header{
  height: 700px;
}

.logo-moto{
  font-size: 9px;
  text-align: center;
  color: white;
  margin-top: -1px;
  font-family: 'Courier New', Courier, monospace;
}

.box .logo{
  margin-top: -30px;
  margin-left: 215px;
  width: 30%;
}
.box .logo-moto{
  margin-left: 30px;
}

.button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  background-color: rgb(237, 76, 1);
  /* border-radius: 20px; */
  display: block;
  text-align: center;
  line-height: 40px;
  color: white;
  text-decoration: none;
  border: 1px solid #ff6603;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: rgb(63, 63, 63);
}

.bottom{
  color: white;
  text-align: center;
  justify-content: center;
  font-family: inherit;
  /* font-family:avenir-lt-w01_35-light1475496,sans-serif; */
}

.bottom h1{
  font-size: 42px;
}
.barline{
  width: 10px;
}


.bar1{
   width: 700px;
  height: 10px;
  background-color: #ff6603; 
  margin-left: 35px;
  margin-top: 25px;
}
.bar2{
   width: 600px;
  height: 10px;
  background-color: #ff6603; 
  margin-left: 35px;
  margin-top: 25px;
}
.bar3{
   width: 700px;
  height: 10px;
  background-color: #ff6603; 
  margin-left: 35px;
  margin-top: 25px;
}
.bar4{
   width: 650px;
  height: 10px;
  background-color: #ff6603; 
  margin-left: 35px;
  margin-top: 25px;
}
.bar5{
   width: 600px;
  height: 10px;
  background-color: #ff6603; 
  margin-left: 35px;
  margin-top: 25px;
}
.bar6{
   width: 650px;
  height: 10px;
  background-color: #ff6603; 
  margin-left: 35px;
  margin-top: 25px;
}
.bar7{
   width: 700px;
  height: 10px;
  background-color: #ff6603; 
  margin-left: 35px;
  margin-top: 17px;
  margin-right: 10px;
}
.bar{
  display: flex;
  flex-direction: column;
  /* margin-left: -550px; */
}

.bars{
  display: flex;
  flex-direction: row;
}

.percentage{
  margin-left: 2px;
}

.image-container{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 580px;
  margin-left: 20px;
}

.image-container2{
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  gap: 20px;
}



.education_1{
  text-align: right;
}
.education_3{
  text-align: right;
}
.education_5{
  text-align: right;
}
.education_2{
  text-align: left;
}
.education_4{
  text-align: left;
}


.dot{
  margin-left: 440px;
  background-color: #ff6603;
  margin-top: 10px;
  border-radius: 50%;
    width: 20px;
    height: 20px;
}
.dot_line{
  background-color: #ff6603;
  width: 2px;
  height: 1012px;
  margin-left:9px;
  transform-origin: center 1px;


}
.logo_2{
  justify-content: center;
  width: 150px;
  margin-top: 20p;
}

.stop{
  background-color: #ff6603;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}



@media only screen and (min-width: 300px) and (max-width: 520px) {
  body {
    background-color: black;
    overflow-x: hidden;
  }

  .background-image {
    position: absolute;
    height: 60vh;
    background-image: url('./image.png');
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-attachment: fixed;
    top: 0;
    left: 0;
    z-index: -1;

  }
}

/* .background-image {
  position: absolute;
  width: 100%;
  height: 125vh;
  background-image: url('./image.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  top: 0; 
  left: 0; 
} */



@media only screen and (min-width: 300px) and (max-width: 520px) {
  .content{
    margin-left: -225px;

  }
  .header {
    text-align: center; 
    height: 900px;
  }
  .header .logo{
    margin-top: 7px;
    width: 12%;
    margin-left: 249px;
  }
  .header .logo-moto{
    font-size:10px;
    color: white;
    margin-left: 265px;
  }
  .profile{
    margin-top: 50px !important;    
  }
  .hypen{
    color: #ff6603;
    font-size: 40px;
  }
  .hypen_2{
    color: #ff6603;
    font-size: 60px;
  }
  .profile h1 {
    margin-bottom: 30px;
    font-size: 23px !important;
    color: white;
    line-height: 100%;
    letter-spacing: 4px;
    margin-left: 336px;
  }
  .profile p{
    font-size: 15px;
    margin-right: 0px;
  }
  .center{
    text-align: center;
  }
  .box {
    margin-bottom: 55px; 
    background-color: rgb(63, 63, 63);
    margin-left: 276px;
    margin-top: -558px;
    padding: 50px;
    justify-content: center; 
    height: 430px;
    width: 450px;
  }
  .year{
    font-size: 21px !important;
  }
  .box .logo{
    width: 100px;
    text-align: center;
    margin-left: 17px;
    margin-top: -40px;
  }
  .box .logo-moto{
    font-size:10px;
    color: white;
    margin-left: 23px;
  }

  .bio {
    padding: 0px;
    color: white; 
    line-height: 1.6rem;
    font-size: 11px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  
  .button 
  {
    width: 140px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(237, 76, 1);
    display: block;
    text-align: center;
    line-height: 31px;
    color: white;
    text-decoration: none;
    font-size: 10px;
    border: 1px solid #ff6603;

    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: rgb(63, 63, 63);
  }
  .bottom{
    color: white;
    /* text-align: center; */
    /* justify-content: center; */
    /* font-family: inherit; */
  }
  .bottom h1{
    font-size: 24px;
    margin-left: 250px;
  }
  .bottom h3{
    font-size: 15px;
    margin-left: 250px;
  }
  .skills{
    margin-left: 281px;
  }
  .percentage{
    margin-right: 60px;
  }
  
  .bar1{
    width: 275px;
  height: 7px;
  background-color: #ff6603; 
  margin-left: 11px;
  margin-top: 22px;
  }
  .bar2{
    width: 250px;
  height: 7px;
  background-color: #ff6603; 
  margin-left: 11px;
    margin-top: 30px;
  }
  .bar3{
    width: 275px;
    height: 7px;
    background-color: #ff6603; 
    margin-left: 11px;
    margin-top: 24px;
  }
  .bar4{
    width: 250px;
  height: 7px;
  background-color: #ff6603; 
  margin-left: 11px;
    margin-top: 28px;
  }
  .bar5{
    width: 225px;
  height: 7px;
  background-color: #ff6603; 
  margin-left: 11px;
    margin-top: 29px;
  }
  .bar6{
    width: 250px;
  height: 7px;
  background-color: #ff6603; 
  margin-left: 11px;
    margin-top: 27px;
  }
  .bar7{
    width: 275px;
    height: 7px;
    background-color: #ff6603; 
    margin-left: 11px;
    margin-top: 26px;
  }

  .image-container{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 328px;
    margin-left: 275px;
    margin-bottom: 50px;
  }

  .image-container2{
    width: 217px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    gap: 20px;
  }

  .dot{
    margin-left: 500px;
    background-color: #ff6603;
    margin-top: 42px;
    border-radius: 50%;
      width: 20px;
      height: 20px;
  }
  .dot_line{
    background-color: #ff6603;
    width: 2px;
    height: 1012px;
    margin-left:9px;
    transform-origin: center 1px;
  }
  .education1 p{
    font-size: 13px;
    margin-right: 45px;
  }
  .education2 p{
    font-size: 13px;
    margin-left: 255px;
    
  }
  .education3 p{
    font-size: 13px;
    margin-right: 15px;
  }
  .education4 p{
    font-size: 13px;
    margin-left: 255px;
  }
  .education5 p{
    font-size: 13px;
    margin-right: 23px;
  }

  .logo_2{
    justify-content: center;
    width: 90px;
    margin-left: 235px;
    margin-top: 20px;
  }
  .contact{
    text-align: center;
    margin-left: 225px;
  }

  .educations{
  /* font-family: 'Courier New', Courier, monospace; */
  font-family:avenir-lt-w01_35-light1475496,sans-serif;


    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }
}

